/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running NovaSeq6000 tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a NovaSeq6000 pipeline test.

    Use as follows:
        nextflow run nf-core/demultiplex -profile test_novaseq6000,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '13.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test NovaSeq6000 profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with NovaSeq6000 data'

    // Input data
    demultiplexer = 'bcl2fastq'
    skip_tools    = "checkqc,samshee"
}

process {
    withName: BCL2FASTQ {
        ext.args = {[
            "--tiles s_1_2101",
        ].join(" ").trim()}
        publishDir = [
            [
                // Gather and write InterOp files
                path: { "${params.outdir}/${meta.id}/InterOp" },
                mode: params.publish_dir_mode,
                pattern: "**.bin",
                saveAs: {filename -> filename.split("/")[-1] }
            ],
            [
                // Gather and write Reports and Stats
                path: { meta.lane ? "${params.outdir}/${meta.id}/L00${meta.lane}" : "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "**/{Reports,Stats}",
                saveAs: { filename -> filename.minus("output/") }
            ],
            [
                path: { meta.lane ? "${params.outdir}/${meta.id}/L00${meta.lane}" : "${params.outdir}/${meta.id}" },
                pattern: "**.fastq.gz",
                saveAs: { filename -> filename.minus("output/") }
            ]
        ]
    }
}
